@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */


/* style pour le body du darkmode */
/* .dark-mode {
  background-color: #1a1a1a; 
  color: #f0f0f0; 
} */

/* body{
  overflow-x: hidden;
} */
.webviewer {
  height: 100vh;
  width: 100%;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spinLoading 1s linear infinite;
}

@keyframes spinLoading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 

.glow {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 200px 130px #b9fd50;
}

@media screen and (min-width: 768px) {
  .glow {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: 0 0 1000px 200px #b8fd50af;
  }
}


.modal-video {
  max-width: 100%; /* Limite la largeur du modal */
  max-height: 100%; /* Limite la hauteur du modal */
  position: absolute; /* Positionne le modal à l'intérieur de son parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/**/

/* .cursor-pointer {
  cursor: pointer !important;
} */

.loading-animation {
  z-index: 9999;
}

.loader {
    border-top-color: #3498db;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.bg-light-navbar {
    /* background-color: white;
    opacity: 0.9; */
    color: black;
  }
  
  .bg-dark-navbar {
    background-color: black;
    color: white;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  /* .navbar-logo {
    width: 48px;
    height: 47px;
    display: inline-block;
    vertical-align: middle;
  } */

  .navbar-txt{
    margin-left: 20px;
    font: 51px;
  }

  /* styles glowing button.css */
.glow-button {
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.glow-button:hover {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5), 0 0 20px rgba(0, 123, 255, 0.5), 0 0 30px rgba(0, 123, 255, 0.5);
}

.glow-button::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(45deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5));
  filter: blur(10px);
  opacity: 0.5;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.glow-button:hover::before {
  opacity: 1;
}

/* style des icones */
.icon {
  display: inline-block;
  color: #f7f3f3; /* Couleur bleue pour les icônes */
  font-size: 2rem; /* Taille de l'icône */
  cursor: pointer;
  position: relative;
}

.icon:hover::after {
  content: attr(title); /* Affiche le texte au survol */
  position: absolute;
  top: 100%; /* Juste en dessous de l'icône */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  color: #333;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
  margin-top: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


  /* .relative:hover .absolute {
    opacity: 1;
    filter: blur(8px);
  } */
    
  /**/
  
  .loaderx {
    border: 8px solid #f3f3f3; /* Couleur de fond */
    border-top: 8px solid #3498db; /* Couleur de l'animation */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  /* Styles pour le loader */
  .loaderv {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* =================================================================*/

.custom-background {
    background: rgba(76, 41, 133, 0.822);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    background-image: url('https://cdn.pixabay.com/photo/2020/01/07/13/36/sea-4747601_640.jpg');
    background-size: cover; 
    background-position: center; 
}

.custom-backgroundw {
    background: rgba(76, 41, 133, 0.822);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    background-image: url('https://cdn.pixabay.com/photo/2020/01/07/13/36/sea-4747601_640.jpg');
    background-size: cover; 
    background-position: center; 
}

 
/* html, body {
    overflow: hidden; 
    height: 100%;
    margin: 0;
    padding: 0;
} */



/*  */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.pdf-list {
  margin-top: 20px;
}

.pdf-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pdf-icon {
  margin-right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.pagination-dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: skyblue;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-dot.active {
  background-color: whitesmoke; /* Changez cette couleur pour le rond actif */
}

.choose-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.choose-button {
  background-color: rgb(33, 157, 206); /* Couleur verte */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.choose-button:hover {
  background-color: rgb(16, 114, 153); /* Couleur de survol */
}
